## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print("Number of unique values in each column: \n", unique_values)

Number of unique values in each column:
 APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df["APPLICATION_TYPE"].value_counts()
print("APPLICATION_TYPE value counts: \n", application_type_counts)

APPLICATION_TYPE value counts:
 T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff = application_df['APPLICATION_TYPE'].value_counts().quantile(0.75)
application_types_to_replace = application_type_counts[application_type_counts <= cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
print("APPLICATION_TYPE value counts after binning: \n", application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE value counts after binning:
 T3       27037
Other     3331
T4        1542
T6        1216
T5        1173
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
print("CLASSIFICATION value counts: \n", classification_counts)

CLASSIFICATION value counts:
 C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts >1
classification_counts_above_1 = classification_counts[classification_counts > 1]
print("CLASSIFICATION value counts above 1: \n", classification_counts_above_1)

CLASSIFICATION value counts above 1:
 C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff = application_df['CLASSIFICATION'].value_counts().quantile(0.75)
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_counts[classification_counts <= cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      321
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop("IS_SUCCESSFUL", axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 50
hidden_nodes_layer3 = 25

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
tf.keras.layers.Dense(units=hidden_nodes_layer1, activation='relu', input_dim=number_input_features)
)

# Second hidden layer
nn.add(
tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu')
)

# Third hidden layer
nn.add(
tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu')
)

# Output layer
nn.add(
tf.keras.layers.Dense(units=1, activation='sigmoid')
)

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                832

 dense_1 (Dense)             (None, 8)                 136

 dense_2 (Dense)             (None, 1)                 9

=================================================================
Total params: 977
Trainable params: 977
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="sgd", metrics=["accuracy"])

In [14]:
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=200, batch_size=50, validation_data=(X_test_scaled, y_test), verbose=2)

Epoch 1/200
515/515 - 1s - loss: 0.6679 - accuracy: 0.6205 - val_loss: 0.6328 - val_accuracy: 0.6854 - 826ms/epoch - 2ms/step
Epoch 2/200
515/515 - 0s - loss: 0.6121 - accuracy: 0.6901 - val_loss: 0.6057 - val_accuracy: 0.6901 - 373ms/epoch - 725us/step
Epoch 3/200
515/515 - 0s - loss: 0.5947 - accuracy: 0.7041 - val_loss: 0.5931 - val_accuracy: 0.7066 - 371ms/epoch - 720us/step
Epoch 4/200
515/515 - 0s - loss: 0.5848 - accuracy: 0.7116 - val_loss: 0.5847 - val_accuracy: 0.7100 - 367ms/epoch - 714us/step
Epoch 5/200
515/515 - 0s - loss: 0.5784 - accuracy: 0.7129 - val_loss: 0.5798 - val_accuracy: 0.7125 - 371ms/epoch - 720us/step
Epoch 6/200
515/515 - 0s - loss: 0.5743 - accuracy: 0.7156 - val_loss: 0.5769 - val_accuracy: 0.7120 - 369ms/epoch - 716us/step
Epoch 7/200
515/515 - 0s - loss: 0.5716 - accuracy: 0.7170 - val_loss: 0.5757 - val_accuracy: 0.7114 - 365ms/epoch - 709us/step
Epoch 8/200
515/515 - 0s - loss: 0.5698 - accuracy: 0.7166 - val_loss: 0.5742 - val_accuracy: 0.7128 - 365ms/epoch - 709us/step
Epoch 9/200
515/515 - 0s - loss: 0.5685 - accuracy: 0.7176 - val_loss: 0.5727 - val_accuracy: 0.7134 - 371ms/epoch - 721us/step
Epoch 10/200
515/515 - 0s - loss: 0.5671 - accuracy: 0.7207 - val_loss: 0.5719 - val_accuracy: 0.7158 - 368ms/epoch - 714us/step
Epoch 11/200
515/515 - 0s - loss: 0.5661 - accuracy: 0.7242 - val_loss: 0.5714 - val_accuracy: 0.7156 - 368ms/epoch - 715us/step
Epoch 12/200
515/515 - 0s - loss: 0.5653 - accuracy: 0.7250 - val_loss: 0.5709 - val_accuracy: 0.7159 - 372ms/epoch - 723us/step
Epoch 13/200
515/515 - 0s - loss: 0.5646 - accuracy: 0.7252 - val_loss: 0.5700 - val_accuracy: 0.7153 - 368ms/epoch - 715us/step
Epoch 14/200
515/515 - 0s - loss: 0.5639 - accuracy: 0.7258 - val_loss: 0.5698 - val_accuracy: 0.7158 - 367ms/epoch - 712us/step
Epoch 15/200
515/515 - 0s - loss: 0.5632 - accuracy: 0.7259 - val_loss: 0.5692 - val_accuracy: 0.7160 - 370ms/epoch - 718us/step
Epoch 16/200
515/515 - 0s - loss: 0.5629 - accuracy: 0.7256 - val_loss: 0.5681 - val_accuracy: 0.7164 - 372ms/epoch - 723us/step
Epoch 17/200
515/515 - 0s - loss: 0.5623 - accuracy: 0.7257 - val_loss: 0.5678 - val_accuracy: 0.7159 - 370ms/epoch - 719us/step
Epoch 18/200
515/515 - 0s - loss: 0.5618 - accuracy: 0.7261 - val_loss: 0.5677 - val_accuracy: 0.7159 - 367ms/epoch - 712us/step
Epoch 19/200
515/515 - 0s - loss: 0.5615 - accuracy: 0.7266 - val_loss: 0.5678 - val_accuracy: 0.7170 - 369ms/epoch - 716us/step
Epoch 20/200
515/515 - 0s - loss: 0.5610 - accuracy: 0.7266 - val_loss: 0.5670 - val_accuracy: 0.7167 - 377ms/epoch - 732us/step
Epoch 21/200
515/515 - 0s - loss: 0.5608 - accuracy: 0.7268 - val_loss: 0.5675 - val_accuracy: 0.7159 - 376ms/epoch - 729us/step
Epoch 22/200
515/515 - 0s - loss: 0.5605 - accuracy: 0.7269 - val_loss: 0.5671 - val_accuracy: 0.7166 - 389ms/epoch - 755us/step
Epoch 23/200
515/515 - 0s - loss: 0.5600 - accuracy: 0.7273 - val_loss: 0.5666 - val_accuracy: 0.7167 - 401ms/epoch - 779us/step
Epoch 24/200
515/515 - 0s - loss: 0.5599 - accuracy: 0.7276 - val_loss: 0.5666 - val_accuracy: 0.7164 - 380ms/epoch - 737us/step
Epoch 25/200
515/515 - 0s - loss: 0.5596 - accuracy: 0.7276 - val_loss: 0.5664 - val_accuracy: 0.7166 - 392ms/epoch - 761us/step
Epoch 26/200
515/515 - 0s - loss: 0.5593 - accuracy: 0.7272 - val_loss: 0.5658 - val_accuracy: 0.7165 - 388ms/epoch - 753us/step
Epoch 27/200
515/515 - 0s - loss: 0.5591 - accuracy: 0.7271 - val_loss: 0.5655 - val_accuracy: 0.7170 - 372ms/epoch - 722us/step
Epoch 28/200
515/515 - 0s - loss: 0.5588 - accuracy: 0.7273 - val_loss: 0.5658 - val_accuracy: 0.7166 - 365ms/epoch - 709us/step
Epoch 29/200
515/515 - 0s - loss: 0.5585 - accuracy: 0.7276 - val_loss: 0.5657 - val_accuracy: 0.7169 - 372ms/epoch - 722us/step
Epoch 30/200
515/515 - 0s - loss: 0.5583 - accuracy: 0.7274 - val_loss: 0.5658 - val_accuracy: 0.7169 - 366ms/epoch - 711us/step
Epoch 31/200
515/515 - 0s - loss: 0.5580 - accuracy: 0.7277 - val_loss: 0.5654 - val_accuracy: 0.7165 - 371ms/epoch - 720us/step
Epoch 32/200
515/515 - 0s - loss: 0.5578 - accuracy: 0.7279 - val_loss: 0.5651 - val_accuracy: 0.7170 - 400ms/epoch - 776us/step
Epoch 33/200
515/515 - 0s - loss: 0.5577 - accuracy: 0.7282 - val_loss: 0.5651 - val_accuracy: 0.7171 - 400ms/epoch - 777us/step
Epoch 34/200
515/515 - 0s - loss: 0.5575 - accuracy: 0.7285 - val_loss: 0.5653 - val_accuracy: 0.7169 - 391ms/epoch - 759us/step
Epoch 35/200
515/515 - 0s - loss: 0.5572 - accuracy: 0.7279 - val_loss: 0.5652 - val_accuracy: 0.7170 - 377ms/epoch - 732us/step
Epoch 36/200
515/515 - 0s - loss: 0.5573 - accuracy: 0.7280 - val_loss: 0.5649 - val_accuracy: 0.7167 - 380ms/epoch - 738us/step
Epoch 37/200
515/515 - 0s - loss: 0.5571 - accuracy: 0.7285 - val_loss: 0.5649 - val_accuracy: 0.7167 - 373ms/epoch - 724us/step
Epoch 38/200
515/515 - 0s - loss: 0.5567 - accuracy: 0.7280 - val_loss: 0.5647 - val_accuracy: 0.7170 - 380ms/epoch - 738us/step
Epoch 39/200
515/515 - 0s - loss: 0.5567 - accuracy: 0.7287 - val_loss: 0.5648 - val_accuracy: 0.7170 - 368ms/epoch - 715us/step
Epoch 40/200
515/515 - 0s - loss: 0.5567 - accuracy: 0.7288 - val_loss: 0.5648 - val_accuracy: 0.7170 - 373ms/epoch - 724us/step
Epoch 41/200
515/515 - 0s - loss: 0.5565 - accuracy: 0.7286 - val_loss: 0.5648 - val_accuracy: 0.7165 - 374ms/epoch - 726us/step
Epoch 42/200
515/515 - 0s - loss: 0.5564 - accuracy: 0.7284 - val_loss: 0.5644 - val_accuracy: 0.7167 - 373ms/epoch - 724us/step
Epoch 43/200
515/515 - 0s - loss: 0.5562 - accuracy: 0.7285 - val_loss: 0.5642 - val_accuracy: 0.7180 - 375ms/epoch - 728us/step
Epoch 44/200
515/515 - 0s - loss: 0.5561 - accuracy: 0.7289 - val_loss: 0.5646 - val_accuracy: 0.7170 - 378ms/epoch - 734us/step
Epoch 45/200
515/515 - 0s - loss: 0.5560 - accuracy: 0.7287 - val_loss: 0.5641 - val_accuracy: 0.7170 - 376ms/epoch - 730us/step
Epoch 46/200
515/515 - 0s - loss: 0.5558 - accuracy: 0.7289 - val_loss: 0.5643 - val_accuracy: 0.7183 - 373ms/epoch - 724us/step
Epoch 47/200
515/515 - 0s - loss: 0.5557 - accuracy: 0.7292 - val_loss: 0.5645 - val_accuracy: 0.7165 - 384ms/epoch - 746us/step
Epoch 48/200
515/515 - 0s - loss: 0.5556 - accuracy: 0.7295 - val_loss: 0.5637 - val_accuracy: 0.7177 - 382ms/epoch - 742us/step
Epoch 49/200
515/515 - 0s - loss: 0.5556 - accuracy: 0.7292 - val_loss: 0.5639 - val_accuracy: 0.7178 - 381ms/epoch - 740us/step
Epoch 50/200
515/515 - 0s - loss: 0.5555 - accuracy: 0.7291 - val_loss: 0.5636 - val_accuracy: 0.7184 - 371ms/epoch - 720us/step
Epoch 51/200
515/515 - 0s - loss: 0.5552 - accuracy: 0.7296 - val_loss: 0.5634 - val_accuracy: 0.7177 - 369ms/epoch - 716us/step
Epoch 52/200
515/515 - 0s - loss: 0.5549 - accuracy: 0.7290 - val_loss: 0.5638 - val_accuracy: 0.7178 - 387ms/epoch - 751us/step
Epoch 53/200
515/515 - 0s - loss: 0.5547 - accuracy: 0.7292 - val_loss: 0.5635 - val_accuracy: 0.7173 - 382ms/epoch - 741us/step
Epoch 54/200
515/515 - 0s - loss: 0.5545 - accuracy: 0.7294 - val_loss: 0.5634 - val_accuracy: 0.7188 - 383ms/epoch - 744us/step
Epoch 55/200
515/515 - 0s - loss: 0.5545 - accuracy: 0.7294 - val_loss: 0.5639 - val_accuracy: 0.7174 - 370ms/epoch - 719us/step
Epoch 56/200
515/515 - 0s - loss: 0.5544 - accuracy: 0.7295 - val_loss: 0.5632 - val_accuracy: 0.7171 - 373ms/epoch - 724us/step
Epoch 57/200
515/515 - 0s - loss: 0.5542 - accuracy: 0.7297 - val_loss: 0.5638 - val_accuracy: 0.7167 - 378ms/epoch - 734us/step
Epoch 58/200
515/515 - 0s - loss: 0.5542 - accuracy: 0.7292 - val_loss: 0.5635 - val_accuracy: 0.7173 - 372ms/epoch - 723us/step
Epoch 59/200
515/515 - 0s - loss: 0.5540 - accuracy: 0.7296 - val_loss: 0.5633 - val_accuracy: 0.7173 - 370ms/epoch - 719us/step
Epoch 60/200
515/515 - 0s - loss: 0.5540 - accuracy: 0.7293 - val_loss: 0.5633 - val_accuracy: 0.7186 - 383ms/epoch - 743us/step
Epoch 61/200
515/515 - 0s - loss: 0.5539 - accuracy: 0.7293 - val_loss: 0.5635 - val_accuracy: 0.7194 - 379ms/epoch - 736us/step
Epoch 62/200
515/515 - 0s - loss: 0.5538 - accuracy: 0.7299 - val_loss: 0.5637 - val_accuracy: 0.7184 - 391ms/epoch - 759us/step
Epoch 63/200
515/515 - 0s - loss: 0.5538 - accuracy: 0.7294 - val_loss: 0.5637 - val_accuracy: 0.7178 - 382ms/epoch - 742us/step
Epoch 64/200
515/515 - 0s - loss: 0.5536 - accuracy: 0.7297 - val_loss: 0.5631 - val_accuracy: 0.7171 - 370ms/epoch - 718us/step
Epoch 65/200
515/515 - 0s - loss: 0.5536 - accuracy: 0.7296 - val_loss: 0.5631 - val_accuracy: 0.7177 - 367ms/epoch - 713us/step
Epoch 66/200
515/515 - 0s - loss: 0.5535 - accuracy: 0.7294 - val_loss: 0.5632 - val_accuracy: 0.7191 - 376ms/epoch - 730us/step
Epoch 67/200
515/515 - 0s - loss: 0.5535 - accuracy: 0.7290 - val_loss: 0.5633 - val_accuracy: 0.7178 - 393ms/epoch - 763us/step
Epoch 68/200
515/515 - 0s - loss: 0.5534 - accuracy: 0.7297 - val_loss: 0.5631 - val_accuracy: 0.7187 - 413ms/epoch - 802us/step
Epoch 69/200
515/515 - 0s - loss: 0.5533 - accuracy: 0.7303 - val_loss: 0.5632 - val_accuracy: 0.7174 - 399ms/epoch - 775us/step
Epoch 70/200
515/515 - 0s - loss: 0.5532 - accuracy: 0.7294 - val_loss: 0.5633 - val_accuracy: 0.7171 - 393ms/epoch - 763us/step
Epoch 71/200
515/515 - 0s - loss: 0.5531 - accuracy: 0.7307 - val_loss: 0.5633 - val_accuracy: 0.7178 - 391ms/epoch - 759us/step
Epoch 72/200
515/515 - 0s - loss: 0.5530 - accuracy: 0.7292 - val_loss: 0.5637 - val_accuracy: 0.7185 - 384ms/epoch - 746us/step
Epoch 73/200

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5550 - accuracy: 0.7247 - 140ms/epoch - 522us/step
Loss: 0.555030345916748, Accuracy: 0.7246647477149963

In [23]:
# Export our model to HDF5 file
nn.save("./Outputs/charity_model.h5")
print("Model saved to Outputs folder.")

Model saved to Outputs folder.